.App {
  text-align: center;
}

.myDiv{
display: flex;
flex-direction: column;
}
.cardDiv{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: blueviolet;
}

.sectionOne{

}
.sectionTwo{

}
.sectionThree{

}
li{
  display: inline-block;
  margin:2em;
}
ul{
list-style-type: none;  
}